*{
    
    font-family: Bungee;
    text-decoration: none;
    color: #FBFCF8;
}

body{
    background-color: #040406;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
}
  
.navbar-logo {
    color: #FBFCF8;
    font-weight: bold;
    font-size: 2.1rem;
}
  
.navbar-icons {
    display: flex;
    align-items: center;
}
  
.navbar-icons a {
    margin-left: 10px;
    font-size: 2.1rem;
    margin: 0.7rem;
}

.more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.more h2 {
    font-size: 2.75rem;
    line-height: 0rem;
}

.more h1{
    font-size: 5.5rem;
    line-height: 1rem;
    color: #E0115F;
}

.soon {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
}



.navbar-icons-mobile{
    display: none;
}

  /* Media query for small screens */
@media only screen and (max-width: 1000px) {
    .navbar-icons {
      display: none;
    }
    
    .navbar-logo {
      margin: 0 auto;
      margin-top: 5rem;
      text-align: center;
      font-size: 4rem;
    }
    .navbar-icons-mobile {
        display: block;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 5.5rem;
    }
    .navbar-icons-mobile i{
        margin: 2rem;
    }
    .more {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .more h2 {
        font-size: 4rem;
        line-height: 0rem;
    }
    
    .more h1{
        font-size: 8rem;
        line-height: 1rem;
        color: #E0115F;
    }
    .soon {
        background-color: transparent;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 4rem;
    }
  }
