*{
    margin: 0;
    font-family: 'Prompt', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    background-color: rgba(0,0,0,.86);
    z-index: 9999;
    position: fixed;
}

footer{
    text-align: center;
    color: rgba(133, 133, 133, .92);
    font-size: 14px;
}

nav ul{
    display: flex;
    height: 48px;
    backdrop-filter: blur(20px);
    justify-content: space-between;
    max-width: 940px;
    padding: 0 42px;
    align-items: center;
    margin: 0 auto;
}
ul a{
    font-size: 14px;
    font-weight: 300;
    color: rgba(255,255,255,1);
    opacity: .72;
    transition: opacity .32s;
}
ul a:hover{
    opacity: 1;
}
.logo{
    padding-top: 4px;
}

.content{
    display: block;
    padding-top: 48px;
}

.content-background{
    background-color: #FBFBFB;
    margin-bottom: 70px;
    scroll-margin-top: 48px;
}

.content-area{
    max-width: 1024px;
    margin: auto;
}

.top-banner{
    background-image: url("images/card-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1024px;
    height: 518px;
}

.top-banner-name{
    font-size: 62px;

}
.top-banner-title{
    margin-top: -18px;
    font-size: 20px;
}
.top-banner-subtitle{
    margin-top: 40px;
    font-weight: 500;
    opacity: .7;
    padding-bottom: 10px;
    font-size: 12px;
}

.top-banner-gradient{
    text-align: center;
    color: white;
    padding-top: 344px;
    font-weight: 600;
    background: linear-gradient(to top,rgba(87,87,87,.44),rgba(94,92,92,0) 40%);
}

.about-me{
    background-image: url("images/IMG_1799-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1024px;
    height: 723px;

}

.about-me-container{
    padding: 40px;
    padding-top: 400px;
}

.topic{
    font-size: 36px;
    font-weight: 800;
}

.about-me-topic{
    text-align: right;
}

.about-me-box{
    width: 575px;
    background-color: rgba(255, 255, 255, .07);
    filter: brightness(1.15);
    backdrop-filter: blur(7px);
    text-align: center;
    margin-left: auto;
}

.about-me-text{
    padding: 40px;
    color: #707070;
    opacity: 1;
}

.education{
    padding: 47px;
}

.education .topic{
    text-align: center;
}

.school-container{
    display: block;
    text-align: center;
    margin-top: 62px;
}


.description{
    color: rgba(133, 133, 133, .92);
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 32px;
}

.paragraph{
    color: rgba(70,70,70, 1);
    font-weight: 500;
    max-width: 789px;
    margin: 0 auto;
}